name: Go CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - master-format/linted-code 


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:

          go-version: 1.21
      - name: Install dependencies
        run: go mod download
      - name: Lint code
        uses: Jerome1337/golint-action@v1.0.2
        with:
          golint-path: './...'

      - name: Testing
        run: go test -v ./...
